*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(20, 20, 70);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Password_box{
  width: 350px;
  background-color: burlywood;
  padding: 20px;


}
.passwordboxin{
    display: flex;
}
.passwordboxin input{
  flex-basis: 80%;
}
.passwordboxin button{
    flex-basis: 20%;
    padding: 10px 0px;
}
.passlength{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.passlength input{
  width: 60px;
  padding: 8px 0px;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}